
.this-month {
    padding: 66px 0 45px;
  }
  .this-month .title {
    margin-bottom: 75px;
  }
  
  .this-month .block-stl2 {
    margin-bottom: 30px;
    /*padding-bottom: 60px;*/
  }
  
  .this-month-blog {
    padding: 45px 0 0;
  }
  .this-month-blog .title {
    margin-bottom: 80px;
  }